@import '../../../scss/index.scss';



.content-menu{
    &__titulo{
        background-color: $background-purple-dark;
        border-radius: 20px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);       
        padding-top: 5px;
        margin-bottom: 10%;
        margin-left: 9%;
        width: 25vw;
        text-align: center;
        font-family: 'Secular one',sans-serif;

        h1{
            color: white;
        }
    }

    &__card{
        background-color: $background-orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 18px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);       
        height: 50vh;
        width: 35vh;
        margin-left: 28%;
        
        &:hover{
            background: $primary-color-hover;
        }

        &__imagen{
            border: 5px solid white;
            background: rgba(248, 248, 248, 0.808);
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-bottom: 10%;

            img{
                width: 70px;
                height: 70px;
                margin: 20px;
            }
        }

        &__op{
            font-family: 'Secular one',sans-serif;
            font-size: 24px;
            text-align: center;
            margin-top: 40px;
            color: white;
        }
    }
}