@import "../../scss/index.scss";

.sign-in{
    background-color: $background-login;

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh; /*vh significa altura viewport*/

        &__logo{
            padding: 60px 20px;
            img{
                width: 180px;
            }
        }

        &-form{
            background-color: $background-light;
            padding: 20px;

            &-titulo{
               text-align: center;
               background-color: rgba(0,0,0,0.1);
            }
        }
    }
}