@import '../../../../scss//index.scss';


.container{
    display: flex;
    align-items: center;
    justify-content: center;

    &__nostudents{
        background-color: $background-purple-light3;
        border-radius: 18px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Secular one',sans-serif;
        margin-top: 5%;
        padding: 30px;

        h1{
            color: $font-grey;
            font-size: 20px;
        }
    }
}

.card{
    &__content-est{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 80vw;
        text-align: center;

        &__title{
            color: white;
            margin-left: 19.85%;
            text-align: center;
            font-size: 18px;
        }

       &__edit{
           

        &__image{
            width: 20px;
        }
        
       }
    }
}
