@import '../../../../scss//index.scss';

.list-students{
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 0 5px 0 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    
    ::-webkit-scrollbar {
        width: 20px;
        border: none;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
        margin: 20px;
        border:none;
    }
    
    ::-webkit-scrollbar-thumb {
        background: $background-orange; 
        border-radius: 10px;
        border: none;
    }
}





.container{
    display: flex;
    align-items: center;
    justify-content: center;

    &__nostudents{
        background-color: $background-purple-light3;
        border-radius: 18px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Secular one',sans-serif;
        margin-top: 5%;
        padding: 30px;

        h1{
            color: $font-grey;
            font-size: 20px;
        }
    }
}


.ant-card-body{
    padding: 14px 24px 24px 0;
}

.card{
    &__content-est{
        display: grid;
        grid-template-columns: 21% 31% 27% 34%;
        width: 80vw;
        text-align: center;

        &__title{
            color: white;
            margin-left: 19.85%;
            text-align: center;
            font-size: 18px;
            padding-top: 7px;
        }

       &__edit{
            background-color: #FFAD31;
            box-shadow: 0 0 6px 0 rgb(0 0 0 / 50%);
            border-radius: 50%;
            border: none;
            width: 50px;
            height: 50px;
            justify-self: center;
            padding-right: 43px;
            

            &__image{
                width: 35px;
            }
        }

        &__button{
            background-color: #FFAD31;
            border: none;
            border-radius: 20px;
            box-shadow: 0 0 6px 0 rgb(0 0 0 / 50%);
            font-family: "Secular one", sans-serif;
            margin-top: 4px;        
        }
    }


}
