@import '../../../scss/index.scss';


.je-contenido{
    &__header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: $background-purple-light4;
        font-family: 'Secular one',sans-serif;
        margin-bottom: 15px;
        border-radius: 20px;
    
        &__col{
            //margin-top: 5px;
            font-size: 18px;
            text-align: center;
            h1{
                color: $font-grey;
            }
        }
    }
}
