@import '../../../../scss/index.scss';

.list-colegios{
    background: $background-purple-dark;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}