@import '../../../scss/index.scss';

.login-form{

    display:flex;
    flex-direction: column;
    align-items: center;

    .ant-form-item:last-of-type{
        margin: 0;
    }

    .ant-input::placeholder{
        color:$font-input;
    }
  

    &__input{
        margin-top: 10px;
        border-radius: 18px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
        .ant-input-prefix{
            margin: 4px 7px 2px 1px;
            svg{
                font-size: 0em + 22px / $defaultFontSize;
                color: $font-input;
            }
        }

        

        input{
            font-size: 0em + 22px / $defaultFontSize;
            font-family:'Secular one',sans-serif;
            

            &:focus{
                border-color: $primary-color;
                box-shadow: none;
            }
            
        }

        
    }

    &__button{
        width: 200px;
        padding: 2px 10px;
        font-size:0em + 22px/ $defaultFontSize; 
        background-color: $background-orange;
        color: $font-light;
        height: 42px;
        margin-top: 20px;
        border-radius: 18px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
        border: none;

        
        &:hover{
            background:$background-light;
            color: $background-orange;
            
        }

        // &:focus,
        // &:active{
        //     background-color: $font-light;
        //     color: $background-orange ;
        //     border: 0;
        // }
    }

}